
/*Tổng quát*/
.container-full{
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
    font-family: inherit !important;
}

/*Header*/
.container-header-menu{
    WIDTH: 63%;
}
.container-header-logo{
    float: left;
}
.container-header-menu-info{
    margin-left: 30%;
    margin-top: 1%;
    width: 83%;
}
/* Menu Navbar*/
.container-header-menu-navbar {
    width:100%;
    margin:0px auto;
    background:#fff;
    height: 50px;
    padding-top: 5px;
    margin-left: 138px;
    border-radius:5px ;
}
.container-header-menu-navbar li {
    margin:0px;
    list-style:none;
    font-family:'roboto';
}
.container-header-menu-navbar a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration:none;

}
.container-header-menu-navbar li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#454545;
} .container-header-menu-navbar > ul > li {
      float:left;
      display:inline-block;
      position:relative;
      font-size:15px;
  }
.container-header-menu-navbar > ul > li > a {
    padding:10px 20px;
    display:inline-block;
    color: #545454;;
}
.container-header-menu-navbar > ul > li:hover > a, .container-header-menu-navbar > ul > .current-item > a {
    background:#00a2ed;
    border-radius:10px ;
    height:34px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 12%;}

.container-header-menu-icon{
    position: absolute;
    top: 4%;
    right: 20%;
}
/*Banner*/
.container-banner{
    background-image: url('../image/banner.png');
    width: 100%;
    height: 330px;
    background-repeat: no-repeat;
}
h5.container-banner-text-image{
    color:inherit;font-weight: bold;font-size:23pt;
}
.container-banner-line {
    text-align: right;
    color: white;
    text-align: left;
    width: 48%;
    margin-left: 50%;
    padding-top: 15%;
}
/* Content Our Services*/
.container-services-title{
    text-align: center;
    padding-top: 30px;
    padding-left: 30px;
}
/*Content Client*/
.container-client{
    text-align: center;
    padding-bottom: 30px;
}
.container-client-text{
    padding-bottom: 45px;
}
/*Content article*/
.container-article-text{
    text-align: center;
    padding-left: 50px;
}
.container-article-text-des{  text-align: left !important;  }
/*footer*/

footer{
    height: 440px;
    background-color: #323232;
    color: white;
    padding-top: 30px;
}
/*About */
.footer-about{
    padding-left: 50px;
    width: 200px;
    float:left;
}
/*Form */
.footer-form{
    float:left;
    padding-left: 50px;

}
/*nhung map*/
.footer-map{
    margin-left: 50px !important;
}
.footer-map-line{
    width:45%; align:right; margin-right: 65px;
}
/*mau Nen background*/
.background{
    background-color: rgba(0, 0, 0, 1);
    width: 100%;
}
/*Tu dinh Nghia*/
.clear{clear:both;}

.fa{  padding-left: 15px;  }

b, strong {  font-weight: bolder;  font-size: 50px;  }

.col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-left: 55px;
    text-align: center;
    color:#838383;
}
button {
    background-color: #00a2ed;
    border: aliceblue;
    height: 33px;
    border-radius: 5px;
    color: #fff;
    width: 123px;
}
span {  font-size: 13px;}

hr {
    margin-top: 2.3rem;
    margin-bottom: 1rem;
    border-top: 1px solid #cbcbce;
}
h5{  color:#545454;  }

.h2, h2 {
    font-size: 2.2rem;
    font-weight: 700;
    color:#838383;
}

textarea {  width: 363px;  height: 100px;  }
.footer-line-down{
    clear: both;
    width: 0;
    height: 0;
    border-left: 5.5px solid transparent;
    border-right: 5.5px solid transparent;
    border-top: 5px solid #ffffff;
    margin-left: 216px;
}

.container-header-menu-navbar>ul>li:hover>a, .container-header-menu-navbar>ul>.current-item>a {
    background: #00a2ed;
    border-radius: 10px;
    height: 35px;
    line-height: 15px;
}