*{margin:0;padding:0}
body{width:960px;margin:auto;background-color:#000}
@font-face{font-family:'roboto-bold';src:url(../roboto/Roboto-Bold.ttf);font-weight:400;font-style:normal}
@font-face{font-family:roboto-light;src:url(../roboto/Roboto-Light.ttf)}
@font-face{font-family:roboto-medium;src:url(../roboto/Roboto-Medium.ttf)}
section .section_slider{width:100%;height:298px;position:relative}
section .section_slider h1
{color:#fff;font-size:22.86px;font-family:'roboto-bold';position:absolute;top:190px;right:50px}

section .section_slider p
{color:#fff;font-size:17.86px;font-family:roboto-medium;position:absolute;top:230px;right:30px
}
section .section_slider .fade
{-webkit-animation-name:fade;-webkit-animation-duration:1.5s;animation-name:fade;
    animation-duration:1.5s
}
@-webkit-keyframes fade
{from{opacity:.4}to{opacity:1}}
@keyframes fade{from{opacity:.4}to{opacity:1}}
section .section_layer1{float:left;width:300px;height:397px;background-color:#fff}
section .section_layer1 img{margin:103px 0 0 105px}
section .section_layer1 h3{color:#706972;font-size:14.86px;text-align:center;margin:12px 0 0 55px;font-family:roboto-bold}
section .section_layer1 p{color:#938e94;text-align:center;padding-top:13px;
    font-size:11.86px;font-family:roboto-light;margin-left:50px}
section .section_layer1 button
{width:105px;height:29px;background-color:#00a2ed;margin:19px 0 0 120px;border-radius:8px;font-size:11px;
    font-family:roboto-light;color:#fff}
section .section_layer2{float:left;width:337px;height:397px;background-color:#fff}
section .section_layer2 h2{font-size:29.3px;font-family:roboto-bold;color:#838383;margin:20px 0 0 80px}
section .section_layer2 h5{font-size:10px;font-family:roboto-bold;color:#888;margin-left:80px}
section .section_layer2 img{margin:40px 0 0 96px}section .section_layer2 h3{color:#706972;text-align:center;
                                                     margin-top:8px;font-size:14.86px;font-family:roboto-bold}
section .section_layer2 p{color:#938e94;text-align:center;padding-top:14px;font-family:roboto-light;font-size:11.86px}
section .section_layer2 button{width:105px;height:29px;background-color:#00a2ed;margin:17px 0 0 120px;
    border-radius:8px;font-size:11px;font-family:roboto-light;color:#fff}
section .section_layer2 hr{margin-top:27px;border:1px solid #ededed}
section .section_layer3{float:left;width:323px;height:397px;background-color:#fff}
section .section_layer3 img{margin:103px 0 0 55px}section .section_layer3 h3
                                                  {color:#706972;text-align:center;margin:14px 60px 0 0;
                                                      font-size:14.86px;font-family:roboto-bold}
section .section_layer3 p{color:#938e94;text-align:center;padding-top:14px;font-size:11.86px;font-family:roboto-light;
    margin-right:60px}
section .section_layer3 button
{width:105px;height:29px;background-color:#00a2ed;margin:17px 0 0 80px;border-radius:8px;font-size:11px;
    font-family:roboto-light;color:#fff}
section .section_person{float:left;width:100%;height:238px;background-color:#fff}
section .section_person h2{font-size:29.3px;text-align:center;font-family:roboto-bold;color:#888;margin:5px 0 0}
section .section_person h5{font-size:10px;font-family:roboto-bold;color:#888;text-align:center}
section .section_person img{margin:35px 0 0 70px}
section .section_person hr{width:345px;margin:20px 0 0 295px;border:1px solid #ededed}
section .section_atircle--cominication{float:left;width:335px;height:375px;background-color:#fff}
section .section_atircle--cominication img{margin:91px 0 0 83px}
section .section_atircle--cominication h4{margin:11px 0 0 83px;color:#626262;font-size:13.3px;font-family:roboto-bold}
section .section_atircle--cominication p{font-size:9.86px;font-family:roboto-light;margin:13px 0 0 83px;color:#817e7e}
section .section_atircle--computer{float:left;width:288px;height:375px;background-color:#fff}
section .section_atircle--computer h2{clear:both;font-size:29.3px;text-align:center;
    font-family:roboto-bold;color:#888;margin-top:5px}
section .section_atircle--computer h5{font-size:10px;font-family:roboto-bold;color:#888;text-align:center}
section .section_atircle--computer img{margin:40px 0 0 20px}
section .section_atircle--computer h4{margin:11px 0 0 20px;color:#626262;font-size:13.3px;font-family:roboto-bold}
section .section_atircle--computer p{font-size:9.86px;font-family:roboto-light;margin:13px 0 0 20px;color:#817e7e}
section .section_atircle--IOT{float:left;width:337px;height:375px;background-color:#fff}
section .section_atircle--IOT img{margin-top:91px}
section .section_atircle--IOT h4{margin-top:11px;color:#626262;font-size:13.3px;font-family:roboto-bold}
section .section_atircle--IOT p{font-size:9.86px;margin-top:13px;color:#817e7e;font-family:roboto-light}
footer{clear:both;height:400px;background-color:#323232}
footer .footer_vinsoft--about{float:left;width:261px;height:100%}
footer .footer_vinsoft--about h4{margin:42px 0 0 48px;color:#fff;font-family:roboto-bold}
footer .footer_vinsoft--about hr{width:189px;margin:9px 0 0 46px;border:1px solid #404040}
footer .footer_vinsoft--about p{color:#cacaca;font-size:9pt;margin:16px 0 0 46px;font-family:roboto-medium}
footer .footer_info--register{float:left;width:275px;height:100%}
footer .footer_info--register .section_arrow--down{clear:both;width:0;height:0;border-left:5.5px solid transparent;
    border-right:5.5px solid transparent;border-top:5px solid #fff;margin-left:216px}
footer .footer_info--register h4{margin-top:37px;color:#fff;font-family:roboto-bold}
footer .footer_info--register hr{width:273px;margin-top:9px;border:1px solid #404040}
footer .footer_info--register .name{margin-top:10px;color:#60656b;font-size:14px;font-family:roboto-bold}
footer .footer_info--register .footer_info--text1{width:111px;height:25px}
footer .footer_info--register .footer_info--text2{width:145px;height:25px;margin-left:6px}
footer .footer_info--register .first_name{float:left;font-size:11px;color:#60656b;font-family:roboto-bold}
footer .footer_info--register .last_name{float:left;margin-left:104px;font-size:11px;color:#60656b;font-family:roboto-bold}
footer .footer_info--register .footer_info--text3{width:270px;height:25px}
footer .footer_info--register textarea{width:272px;height:56px}
footer .footer_info--register button{width:62px;height:27px;background-color:#e5e5e7;font-family:roboto-bold;margin-top:17px}
footer .footer_info--register span{color:red}
footer .footer_info--map{float:left;width:424px;height:100%}
footer .footer_info--map h4{margin:42px 0 0 69px;color:#fff;font-family:roboto-bold}
footer .footer_info--map hr{width:326px;margin:9px 0 0 69px;border:1px solid #404040}
footer .footer_info--map .footer_info__map--nhung{width:326px;height:225px;margin:10px 0 0 69px}
footer .footer_info--map p{font-size:9pt;font-family:roboto-bold;color:#d4d4d4;margin:12px 0 0 69px}