$card-title: #706972;
$card-text :#7c767e;
$primary: #00a2ed;
body{font-family: roboto-bold;}
@font-face {
  font-family: 'roboto-bold';
  src: url('roboto/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'roboto-light';
  src: url('roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'roboto-medium';
  src: url('roboto/Roboto-Medium.ttf');
}
  .container{max-width: 960px;}
header{
	.logo{padding: 1em 0 1em 6em;}
	.clear{clear: left;}
	.info{margin-top: 10px;float: right;margin-right: 13px;
		li{list-style: none;font-size: 13px;margin-right: 15px;float: left;text-align: right;color: #939393;
      img{margin-top: -2px;}
    }
		.primary{color: $primary;}

	}
  .menu{
    .links{margin-left: 25px; 
      .active{background: $primary;color: #fff}
      ul li{list-style: none;display: inline-block;margin-right: 10px;
          a{color: #939393;text-decoration: none;padding: 2px;border-radius: 5px;font-size: 14px;
             &:hover{background: $primary;color: #fff}
          }
        }
        .btn {border: none; outline: none; cursor: pointer;box-shadow: none; }
      }
  }
  .slide { position: relative;width: 100%;height: 300px;background-image: url('img/slide2.png');
      .text{width: 50%; color: #fff;position: absolute;float: right;bottom: 15px;right: 15px;
      h3{font-size: 24px;}
    }
  }
  @media screen and (max-width: 768px) {
    .none-mobile{display: none;}
    .menu{margin-top: -70px;
      .navbar-toggler{position: relative; right: -246px; margin-bottom: 10px;}
    }
    .logo{padding: 1em 0 1em 1em;}
    .slide{height: 220px ;}
    .text{left: 5px; position: absolute !important; width: 100% !important;}
  }
}
